{% extends 'index.html' %} {% block content %}

<div class="container card shadow-sm">
  <div class="row mt-2">
    <div class="col-12">
      <div class="">
        <div class="card-header">
          <h4 class="card-title">Links Importantes - Cadastro de Empresas</h4>
        </div>
        <div class="card-body">
          <p>
            Acesse abaixo links importantes relacionados ao cadastro e
            regularização de empresas na Receita Federal:
          </p>
          <ul class="list-group">
            <li class="list-group-item">
              <a
                href="https://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/cpf/ConsultaPublica.asp"
                target="_blank"
                class="btn btn-link"
                >Consulta CPF - Receita Federal</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/cnpj/cnpjrevalida.asp"
                target="_blank"
                class="btn btn-link"
                >Consulta CNPJ - Receita Federal</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="http://www.sintegra.gov.br/"
                target="_blank"
                class="btn btn-link"
                >Sintegra - Sistema Integrado de Informações sobre Operações
                Interestaduais com Mercadorias e Serviços</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.gov.br/receitafederal/pt-br/assuntos/cadastro-cnpj"
                target="_blank"
                class="btn btn-link"
                >Cadastro de CNPJ - Receita Federal</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/CPF/Cadastro/CadastroNacional.asp"
                target="_blank"
                class="btn btn-link"
                >Cadastro de Contribuintes</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/empresas/regularizacao/regularizacao.asp"
                target="_blank"
                class="btn btn-link"
                >Regularização de Empresas</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.gov.br/receitafederal/pt-br/assuntos/consultar-situacao-cadastral"
                target="_blank"
                class="btn btn-link"
                >Consultar Situação Cadastral do CNPJ</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/cnpj/relacionamentoCNPJ.asp"
                target="_blank"
                class="btn btn-link"
                >Relacionamento com o CNPJ</a
              >
            </li>
            <li class="list-group-item">
              <a
                href="https://www.gov.br/receitafederal/pt-br/assuntos/baixar-cnpj"
                target="_blank"
                class="btn btn-link"
                >Baixar CNPJ - Receita Federal</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
