<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <!-- Logo à esquerda -->
    <a class="navbar-brand" href="/">
      <img
        src="https://nevaskadistribuidora.com.br/assets/img/logo.png"
        alt="Logo"
        width="200"
        height="auto"
      />
    </a>

    <!-- Menu Toggle for small screens (não será usado porque não tem links) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
